body, * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.light-theme {
  --main-bg-color: #FFFDD0;
  --text-color: #26261F;
  --highlighted-color-text: var(--main-bg-color);
}

.dark-theme {
  --main-bg-color: #26261F;
  --text-color: #FFFDD0;
  --highlighted-color-text: var(--main-bg-color);
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .2s;
  background: var(--main-bg-color);
  color: var(--text-color)
}

.output__text {
  display: flex;
  padding: 16px;
  font-size: 96px;
  font-weight: 600;
  border-bottom: 2px solid var(--text-color);
}

.highlighted-letter {
  background-color: var(--text-color);
  color: var(--main-bg-color);
}

.score-area {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 32px;

  align-items: center;
  position: absolute;
  bottom: 36px;
  right: 48px;

}

.switch-theme {
  position: absolute;
  top: 18px;
  right: 24px;

  width: 36px;
  height: 36px;
  border-radius: 100%;
  cursor: pointer;
}

.moon {
  display: none;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.score-area {
  transition: all .3s;
}
.score-area > p {
  animation: appear .3s;
}